body{
    background-image: url(https://cdn.wallpapersafari.com/99/31/qiCQUB.gif);
    background-color: lavenderblush;
    text-shadow: 1.5px 1.5px  rgb(206, 66, 89);
    color: white;
}

.kirbylogo {
    width: 50%;

}


table {
    width: 80%;
    color: black;
    text-shadow:none;
    background-color: rgb(240, 215, 241);
    border: dotted;
    border-collapse: collapse;
    border-radius: 15px;
}

th {
    height: 70px;
    width: 70px;

}

td, th {
    border: 3px solid #000000;
    text-align: left;
    padding: 8px;
  }

.columns {
    float: right;
    column-width: 100%;
    text-align: center;
   
}

.columnse {
    background-color: white;
    color: black;
    text-shadow: none;
    border-radius: 25px;
    width: 50%;
    text-align: center;
    
    float:left;
}